.branding
  width: 100%
  height: 100vh 
  padding: 20px
  background-color: $purple
  background-image: url(../img/background1.png)
  background-size: cover            
  background-repeat: no-repeat
  background-position: center center
  box-shadow: inset 0 0 0 1000px rgba(59, 1, 59, 0.8)

.branding__nav
  display: flex
  justify-content: space-around
  align-items: center
  flex-wrap: wrap

.branding__logo
  width: 300px
  height: 80px
  margin-top: -2rem
  margin-left: -8rem

.branding__nav--left
  display: flex
  justify-content: space-between
  align-items: center
  a
    color: white
    font-size: 1.6em
    font-weight: bolder
    line-height: 250px
    padding: 0 0 0 40px
    &:link, &:visited, &:hover, &:active
      text-decoration: none
      color: white

.branding__nav--right
  display: flex
  justify-content: flex-end
  margin-top: -1rem
  ul
    float: left
    list-style-type: none
    margin: 0
    padding: 30px
    padding-top: 6rem
    li 
      float: left
      padding-left: 5em
      a
        display: inline-block
        position: relative
        color: white
        overflow: hidden
        // padding: 10px 45px
        font-size: 1.6em
        font-weight: bolder
        &:link, &:visited, &:hover, &:active
          text-decoration: none
          color: white
      a:after
        content: '' attr(data-hover-label) ''
        width: 0
        color: $yellow
        overflow: hidden
        transition: width 0.4s ease-out
        position: absolute
        left: 0
        top: 0
      a:hover:after, a:focus:after
        width: 100%
      .branding__nav--decor-button
        border: 3px solid $yellow
        padding: 10px 45px
        margin-top: -0.5em
        border-radius: 60px
        cursor: pointer
        transition: all 0.5s
        &:hover
          background-color: $yellow
          color: black

// .branding__nav--decor-button
//   border: 3px solid $yellow
//   padding: 10px 45px
//   border-radius: 60px
//   cursor: pointer
//   transition: all 0.5s
//   &:hover
//     background-color: $yellow
//     color: black

.branding__text
  width: 38%
  margin-left: 5%
  h1
    color: white
    text-align: left
    font-size: 5rem
    line-height: 1.4

.branding__btn
  border: 3px solid white
  border-radius: 60px
  display: inline-block
  margin: 1.8em 1.3em 0 10rem
  color: white
  padding: 10px 45px
  font-size: 1.6em
  font-weight: bolder
  transition: all 0.5s
  &:hover
    color: black
    background-color: white
  &:link, &:visited, &:hover, &:active
    text-decoration: none

.branding__btn--color
  @extend button
  margin: 1.8em 1.3em 0 10rem
  color: white
  font-size: 1.6em
  font-weight: bolder
  padding: 10px 45px
  display: inline-block
  margin-left: 1.2em
  padding: 10px 70px
  &:link, &:visited, &:hover, &:active
    text-decoration: none
