.branding
  width: 100%
  height: 100vh 
  padding: 20px
  background-color: $purple
  background-image: url(../img/background1.png)
  background-size: cover            
  background-repeat: no-repeat
  background-position: center center
  box-shadow: inset 0 0 0 1000px rgba(59, 1, 59, 0.8)

.branding__nav
  display: flex
  justify-content: space-around
  align-items: center
  flex-wrap: wrap

.branding__logo
  width: 300px
  height: 80px
  margin-top: -2rem
  margin-left: -8rem

.branding__nav--left
  display: flex
  justify-content: space-between
  align-items: center
  a
    color: white
    font-size: 1.6em
    font-weight: bolder
    line-height: 250px
    padding: 0 0 0 40px
    &:link, &:visited, &:hover, &:active
      text-decoration: none
      color: white

.branding__nav--right
  display: flex
  justify-content: flex-end
  margin-top: -1rem
  ul
    float: left
    list-style-type: none
    margin: 0
    padding: 30px
    li 
      float: left
      padding-left: 30px
      a
        display: block
        color: white
        padding: 10px 45px
        font-size: 1.6em
        font-weight: bolder
        &:link, &:visited, &:hover, &:active
          text-decoration: none

.branding__nav--decor-button
  background-color: $yellow
  border: none
  border-radius: 60px
  cursor: pointer

.branding__text
  width: 38%
  margin-left: 5%
  h1
    color: white
    text-align: left
    font-size: 5rem
    line-height: 1.4

.branding__btn
  border: 3px solid white
  border-radius: 60px
  display: inline-block
  margin: 1.8em 1.3em 0 10rem
  color: white
  padding: 10px 45px
  font-size: 1.6em
  font-weight: bolder
  &:link, &:visited, &:hover, &:active
    text-decoration: none
    color: white

.branding__btn--color
  background-color: $yellow
  display: inline-block
  margin-left: 1.2em
  border: none
  border-radius: 60px
  padding: 15px 70px
  cursor: pointer
