@import vars, branding, navigation, cards, advantages, feedback, reasons, partners

body
  display: flex
  flex-direction: column
  margin: 0
  padding: 0

ul
  list-style-type: none
  margin: 0
  padding: 30px
  li 
    float: left




    



  



  

