.branding {
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: #3b013b;
  background-image: url(../img/background1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0 0 0 1000px rgba(59, 1, 59, 0.8); }

.branding__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.branding__logo {
  width: 300px;
  height: 80px;
  margin-top: -2rem;
  margin-left: -8rem; }

.branding__nav--left {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .branding__nav--left a {
    color: white;
    font-size: 1.6em;
    font-weight: bolder;
    line-height: 250px;
    padding: 0 0 0 40px; }
    .branding__nav--left a:link, .branding__nav--left a:visited, .branding__nav--left a:hover, .branding__nav--left a:active {
      text-decoration: none;
      color: white; }

.branding__nav--right {
  display: flex;
  justify-content: flex-end;
  margin-top: -1rem; }
  .branding__nav--right ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 30px; }
    .branding__nav--right ul li {
      float: left;
      padding-left: 30px; }
      .branding__nav--right ul li a {
        display: block;
        color: white;
        padding: 10px 45px;
        font-size: 1.6em;
        font-weight: bolder; }
        .branding__nav--right ul li a:link, .branding__nav--right ul li a:visited, .branding__nav--right ul li a:hover, .branding__nav--right ul li a:active {
          text-decoration: none; }

.branding__nav--decor-button {
  background-color: #E8B100;
  border: none;
  border-radius: 60px;
  cursor: pointer; }

.branding__text {
  width: 38%;
  margin-left: 5%; }
  .branding__text h1 {
    color: white;
    text-align: left;
    font-size: 5rem;
    line-height: 1.4; }

.branding__btn {
  border: 3px solid white;
  border-radius: 60px;
  display: inline-block;
  margin: 1.8em 1.3em 0 10rem;
  color: white;
  padding: 10px 45px;
  font-size: 1.6em;
  font-weight: bolder; }
  .branding__btn:link, .branding__btn:visited, .branding__btn:hover, .branding__btn:active {
    text-decoration: none;
    color: white; }

.branding__btn--color {
  background-color: #E8B100;
  display: inline-block;
  margin-left: 1.2em;
  border: none;
  border-radius: 60px;
  padding: 15px 70px;
  cursor: pointer; }

.navigation {
  border-bottom: 3px solid lightgray;
  padding-bottom: 2.3em; }
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 30px; }
    .navigation ul li {
      float: left;
      padding-left: 50px; }
      .navigation ul li a {
        display: block;
        font-size: 2em;
        text-transform: uppercase;
        padding: 10px;
        color: lightgray;
        text-decoration: none; }
        .navigation ul li a:hover {
          color: #3b013b;
          border-bottom: 5px solid #3b013b; }

.cards {
  display: flex;
  justify-content: space-around;
  margin: 5rem 0;
  width: 100%; }

.cards__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-bottom: 5px solid lightgray;
  margin: 10rem 2rem; }
  .cards__card:first-child {
    margin-left: 8rem; }
  .cards__card:last-child {
    margin-right: 8rem; }
  .cards__card div {
    position: relative; }
    .cards__card div .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: rgba(59, 1, 59, 0.8); }
  .cards__card h2 {
    width: 90%;
    color: #3b013b;
    font-weight: bold;
    padding: 1.5rem; }
  .cards__card p {
    width: 90%;
    font-size: 1.5em;
    padding: 1.5rem; }
  .cards__card .card__footer {
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .cards__card a {
    display: block;
    color: white;
    background-color: #E8B100;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    padding: 10px 45px;
    font-size: 1.6em;
    font-weight: bolder; }
    .cards__card a:link, .cards__card a:visited, .cards__card a:hover, .cards__card a:active {
      text-decoration: none;
      color: white; }
  .cards__card:hover {
    border-bottom: 5px solid #3b013b; }
    .cards__card:hover .overlay {
      opacity: 0.8; }

.advantages {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  background: linear-gradient(to right, #3b013b 30%, rgba(59, 1, 59, 0.01)); }
  .advantages h1 {
    color: white;
    position: absolute;
    margin-left: -53rem;
    font-size: 5rem;
    margin-top: 7rem; }
  .advantages div {
    z-index: -1;
    overflow: hidden; }
  .advantages img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .advantages .img--left {
    width: 80%; }
    .advantages .img--left img {
      position: absolute;
      right: 50%; }
  .advantages .img--right img {
    width: 120%; }
  .advantages .icons {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15rem 15rem 3rem -25rem;
    width: 70%;
    z-index: 2; }
    .advantages .icons .icon {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      margin: 5rem 3rem; }
      .advantages .icons .icon .text {
        color: white;
        width: 60%;
        height: 100%; }
        .advantages .icons .icon .text p {
          font-size: 1.7rem; }
      .advantages .icons .icon div {
        width: 80px;
        height: 80px;
        margin-right: 3rem; }
        .advantages .icons .icon div img {
          width: 100%;
          height: 100%;
          object-fit: contain; }

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 30px; }
  ul li {
    float: left; }

.feedback {
  margin-top: 10rem; }
  .feedback h1 {
    color: #3b013b;
    margin-left: 8rem;
    font-size: 5rem; }

/*# sourceMappingURL=style.css.map */
